/* Navigation Animation */
.nav-btn{
    position: relative;
    transition: all .35s cubic-bezier(.22,1,.36,1);
}

.nav-btn img{
    transition: all .35s cubic-bezier(.22,1,.36,1);
}

.nav-btn span{
    transition: all .35s cubic-bezier(.22,1,.36,1);
}

/* Inactive */
.nav-btn img{
    opacity:.4;
    transform:scale(.9);
}

.nav-btn span{
    color:#475569;
}

/* Active */
.nav-active{
    transform:translateY(-12px);
    z-index:20;
}

.nav-active img{
    opacity:1 !important;
    transform:scale(1.28);
    filter:
        drop-shadow(0 0 10px rgba(134,239,172,.9))
        drop-shadow(0 0 22px rgba(74,222,128,.55));
}

.nav-active span{
    color:#fde68a !important;
    font-weight:900;
    text-shadow:0 0 8px rgba(251,191,36,.5);
}

.nav-active::after{
    display:none;
}
